.btn{
    padding: 10px 30px;
    background-color: var(--main-bg);
    color: var(--txt-main-color);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    &:hover{
        color: var(--txt-second-color);
        background-color: var(--main-second-bg);
    }
}

.button:focus {
  outline: none;
}

button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

