.contact{
    &__left{
        &__title{
            font-size: 18px;
            margin: 5px 0 10px 0;
        }
        &__form{
            width: 100%;
            margin-bottom: 30px;
            input{
                width: 100%;
                outline: none;
                border: 1px solid #ccc;
                height: 36px;
                padding: 8px 15px;
                margin-bottom: 15px;
            }
            textarea{
                width: 100% !important;
                height: 137px !important;
                padding: 12px 15px 8px 15px;
                outline: none;
                border: 1px solid #ccc;
                margin-bottom: 15px;
            }
            button{
                background-color: #f47920;
                padding: 0 40px;
                height: 40px;
                border: 1px solid transparent;
                color: white;
            }
        }
    }
    &__info{
        padding: 0 20px;
        margin-top: 50px;
        &__item{
            display: flex;
            margin-bottom: 20px;
            &__icon{
                width: 40px;
                height: 40px;
                background-color: #f47920;
                border-radius: 50%;
                text-align: center;
                margin-right: 10px;
                i{
                    line-height: 40px;
                    color: white;
                }
            }
            &__content{
                h2{
                    font-size: 1rem;

                }
            }
        }
    }
    &__map{
        margin-bottom: 50px;
        iframe{
            width: 100%;
            height: 450px;
        }
    }
}