.product-view__modal{
    width: 100%;
    position: fixed;
    height: 100vh;
    z-index:  100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &__backdrop{
        width: 100%;
        height: 100vh;
        position: fixed;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        z-index:  1000;
    }
    &__content{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        z-index: 1001;
        max-width: 920px;
        background-color: #fff;
        display: flex;
        .close--modal{
            position: absolute;
            top: 1%;
            right: 1%;
            font-size: 30px;
            cursor: pointer;
        }
        &__img{
            max-width: 430px;
            padding: 20px 15px;
            img{
                padding: 4px;
            }
        }
        &__main{
            padding: 30px;
            .title{
                h1{

                    font-size: 15px;
                    color: #000000;
                    font-weight: 600;
                }
                margin-bottom: 13px;
            }
            .status{
                font-size: 14px;
            }
            .price{
                margin-top: 20px;
                margin-bottom: 20px;
                color: #de0c19;
                font-size: 18px;
                font-weight: 700;
            }
            .size{
                display: flex;
                margin-bottom: 10px;
                &__header{
                    font-weight: 700;
                    font-size: 16px;
                    padding: 10px 0;
                    color: #666;
                    min-width: 80px;
                }
                &__list{
                    display: flex;
                    &__item{
                        text-align: center;
                        margin-right: 10px;
                        min-width: 40px;
                        margin-bottom: 5px;
                        color: #333;
                        cursor: pointer;
                        border: 1px solid #d7d7d7;
                        height: auto;
                        line-height: 38px;
                        font-size: 14px;
                        font-weight: 500;
                        &.active{
                            color: #de0c19;
                            border: 1px dashed #de0c19;
                        }
                    }
                }
            }
            .input--quantity{
                display: flex;
                padding-left: 20%;
                margin-top: 30px;
                margin-bottom: 30px;
                .btn__decrement, .btn__increment{
                    color: #a6a9b2;
                    text-align: center;
                    cursor: pointer;
                    width: 40px;
                    height: 33px;
                    border: none;
                    background-color: #f4f2f5;
                    line-height: 33px;
                }
                input{
                    width: 49px;
                    height: 33px;
                    color: #666;
                    text-align: center;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 33px;
                    border-top: 1px solid #f4f2f5;
                    border-bottom: 1px solid #f4f2f5;
                }
            }
            .btn--add--cart{
                cursor: pointer;
                background-color: #de101d;
                border: 1px solid #de101d;
                color: #fff;
                text-transform: uppercase;
                font-weight: 700;
                padding: 10px 20px;
                border-radius: .25rem;
                line-height: 1.5;
                font-size: 18px;
            }
        }
    }
}