@import "../../components/GlobalStyles/mixin";
.login{
   padding: 100px 0;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    @include mobile{
        flex-direction: column;
    }
    &__title{
        width: 50%;
        @include mobile{
            width: 100%;
            padding-bottom: 20px;
        }
        h1{
            font-size: 54px;
            @include tablet{
                font-size: 36px;
            }
            @include mobile{
                font-size: 30px;
            }
            text-transform: uppercase;
        }
    }
    &__content{
        width: 50%;
        @include mobile{
            width: 100%;
        }

        border-left: 1px solid #ccc;
        &__form{
            text-align: start;
            padding-left: 100px;
            padding-right: 100px;
            @include tablet{
                padding-left: 5px;
                padding-right: 5px;
            }
            form{
                display: flex;
                flex-direction: column;
                .field{
                    margin-bottom: 30px;
                    input{
                        margin: auto;
                        width: 100%;
    
                        height: 55px;
                        border: none;
                        background-color: #ededed;
                        padding: 0 20px;
                        outline: none;
                        font-weight: 500;
                        color: #252a2b;
                    }
                    p{
                        color: #df4a32;
                        font-size: 12px;
                        margin-top: 10px;
                        font-weight: 600;
                    }
                }
                button{
                    margin: auto;
                    width: 100%;
       
                    height: 55px;
                    border: none;
                    color: #fff;
                    background-color: #252a2b;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
            }
            .forgot--password{
                text-align: center;
                font-size: 14px;
                a{
                    color: #626262;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
        }
        .divider{
            width: 70%;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 30px;
            min-height: 20px;
            font-size: 14px;
            position: relative;
            span{
                position: absolute;
                z-index: 999;
                background-color: #fff;
                padding: 0 10px;
                left: 44%;
                top: 50%;

            }
            &::after{
                content: "";
                border-bottom: 1px solid #a4a4a4;
                height: 9px;
                right: 0;
                left: 0;
                top: 50%;
                position: absolute;
            }
        }
        .login-social{
            width: 70%;
            margin: auto;
            background-color: #385898;
            padding: 15px 0;
            color: #fff;
            margin-top: 10px;
            i{
                margin-right: 10px;
            }
        }
        .login-google{
            background-color: #df4a32;
        }
    }
}