@import "../../components/GlobalStyles/mixin";
.product--detail {
    display: flex;
    @include tablet{
        flex-direction: column;
        margin-bottom: 50px;
    }
    &__image {
        width: 40%;
        @include tablet{
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }
        .swiper {
            width: 100%;
            @include tablet{
                width: 70%;
                
            }
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .mySwiper2{
            height: 60%;
            margin-bottom: 20px;
            img{
                width: 100%;
                object-fit: cover;
            }
        }
        .mySwiper .swiper-slide {
            width: 25%;
            height: 100%;
            opacity: 0.7;
          }
          
          .mySwiper .swiper-slide-thumb-active {
            opacity: 1;
            border: 1px solid #000;
          }
          .swiper-button-next, .swiper-button-prev{
            color: #DE0000;
            display: none;
          }
    }
    &__content{
        padding-left: 15px;
        padding-right: 15px;
        .title{
            padding-bottom: 13px;
            h1{
                font-size: 20px;
                text-transform: uppercase;
            }
        }
        .category{
            margin-bottom: 10px;
            color: #000;
            p{
                font-weight: 500;
                a{
                    color: #DE0000;
                }
            }
        }
        .description{
            margin-bottom: 15px;
            display: flex;
            width: 100%;
            font-weight: 500;
            &__title{
                width: 15%;
            }
            &__content{
                width: 85%;
                font-size: 13.5px;
            }
        }
        .price{
            font-weight: 600;
            font-size: 25px;
            margin: 20px 0;
        }
        .size{
            display: flex;
            margin-bottom: 15px;
            &__header{
                font-weight: 700;
                font-size: 16px;
                padding: 10px 0;
                color: #666;
                min-width: 80px;
                width: 15%;
            }
            &__list{
                display: flex;
                &__item{
                    text-align: center;
                    margin-right: 10px;
                    min-width: 40px;
                    margin-bottom: 5px;
                    color: #333;
                    cursor: pointer;
                    border: 1px solid #d7d7d7;
                    height: auto;
                    line-height: 38px;
                    font-size: 14px;
                    font-weight: 500;
                    &.active{
                        color: #de0c19;
                        border: 1px dashed #de0c19;
                    }
                }
            }
        }
        .quantity{
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            &__header{
                font-size: 14px;
                padding: 10px 0;
                min-width: 80px;
                width: 15%;
            }
            .input--quantity{
                display: flex;
                width: 85%;
         
                .btn__decrement, .btn__increment{
                    color: #a6a9b2;
                    text-align: center;
                    cursor: pointer;
                    width: 40px;
                    height: 33px;
                    border: none;
                    background-color: #f4f2f5;
                    line-height: 33px;
                }
                input{
                    width: 49px;
                    height: 33px;
                    color: #666;
                    text-align: center;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 33px;
                    border-top: 1px solid #f4f2f5;
                    border-bottom: 1px solid #f4f2f5;
                }
            }
        }
        .btn{
            background-color: #de101d;
            border: 1px solid #de101d;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 700;
            padding: 10px 20px;
            border-radius: 2.5px;
            opacity: 1;
            @include mobile{
                font-size: 16px;
            }
            &:disabled
            {
                opacity: .65;
            }
        }
    }
}