.banner__category{
    padding: 60px 0 40px 0;
    width: 100%;
    background-color: #f2f2f2;
}

.category__card{
    position: relative;
    padding: 0 15px;
    .btn{
        position: absolute;
        bottom: 27px;
        left: 50%;
        transform: translateX(-50%);
    }
    img{

        border-radius: 20px;
    }
}