@import "../../components/GlobalStyles/mixin";
.sidebar{
    width: 60%;
    max-width: 250px;
    padding: 0 15px;
    @include tablet{
        width: 100%;
        max-width: 100%;
    }
    .category{
        margin-bottom: 9px;
        &__title{
            height: 42px;
            background-color: #ed1c24;
            text-transform: uppercase;
            color: aliceblue;
            font-size: 18px;
            font-weight: 700;
            display: flex;
            align-items: center;
            padding: 0 10px 0 5px;
            justify-content: space-between;
        }
        &__list{
            background-color: #f9f9f9;
            padding: 10px;
            &__item{
                margin-bottom: 10px;
                font-size: 14px;
                position: relative;
                font-weight: 500;
                a{
                    margin-left: 20px;
                    &.active, &:hover{
                        color: #ed1c24;

                        .checkmark{
                            border: 1px solid #ed1c24;
                            &::before{
                                content: "";
                                position: absolute;
                                border: solid #ed1c24;
                                border-width: 0 2px 2px 0;
                                width: 4px;
                                height: 8px;
                                transform: rotate(45deg);
                                left: 3px;
                                top: 0px;
                            } 
                        }
                    }
                    input{
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }
                    
                    .checkmark{
                        position: absolute;
                        top: 0;
                        left: 0;    
                        height: 15px;
                        width: 15px;
                        border: 1px solid #ddd;
                        border-radius: 3px;

                    }
                }
            }
        }
    }
    .price--range{
        margin-bottom: 9px;
        &__title{
            height: 42px;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            display: flex;
            align-items: center;
            padding: 0 10px 0 5px;
            justify-content: space-between;
            &.active{
                background-color: #ed1c24;
                color: aliceblue;
            }
        }
        &__input{
            padding: 10px;
            .css-187mznn-MuiSlider-root{
                color:#ed1c24;
                height: 10px;
            }
        }
    }
    .size--checkbox{
        &__list{
            padding: 10px;
            background-color: #f9f9f9;
        }
    }
}