@import "../../GlobalStyles/mixin";
.footer{
    background-color: #222;
    color: var(--txt-second-color);
    padding-top: 30px;
    &__top{
        padding: 0 15px;
        margin-bottom: 40px;
        margin-top: 40px;
        &__title{
            padding-bottom: 26px;
            h2{
                font-size: 1rem;
                text-transform: uppercase;
            }
            p{
                font-size: 14px;
                margin-bottom: 10px;
            }
            .form--email{
                position: relative;
                input{
                    background: 0 0;
                    border-radius: 50px;
                    border: 2px solid #fff;
                    color: #fff;
                    outline: none;
                    width: 100%;
                    height: 40px;
                    padding: 10px 16px;
                    font-weight: 400;
                    font-family: "Quicksand", sans-serif;
                }
                button{
                    cursor: pointer;
                    position: absolute;
                    border: none;
                    border-radius: 50px;
                    width: 70px;
                    height: 30px;
                    top: 5px;
                    right: 5px;
                }
            }
        }
        &__content{
            text-align: start;
            margin: auto;
            font-size: 14px;
            &__item{
                padding: 5px 0;
            }
            &__svg{
                display: flex;
                .svg{
                    width: 30px;
                    margin-left: 20px;
                }
            }
        }
    }
    &__bottom{
        border-top: 1px solid #000;
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        @include mobile{
            flex-direction: column;
        }
        .footer__list__menu{
            display: flex;

            a{
                margin-left: 10px;
            }
        }
    }
}